WATSONX_API_KEY=GmHTPnUXIbYnn7HPiaDgNGKFn21SdNKDk8hjtbP79qgP
WATSONX_PROJECT_ID=4f86b645-9dfd-4250-a812-a4423a52fb65
WATSONX_URL=https://eu-de.ml.cloud.ibm.com
CHROMA_PERSIST_DIRECTORY=./embeddings
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
